.navbar {
    height: 5.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 2.5rem 1.5rem;
    backdrop-filter: blur(16px);
    background-color: rgba(18, 31, 43, 0.2);
    width: 100%;

    .navbar_menu {
        display: flex;
        align-items: center;
        .navbar_menu_item {
            margin: 0 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            letter-spacing: 0;
        }
    }
}
