$text-highlight: rgb(23, 221, 208);
.section {
    box-sizing: border-box;
    // flex-shrink: 0;
    flex:1 1 0%;
    width: 100%;
    height: 995px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0px 119px 0px;
    background: radial-gradient(
        50% 50% at 50% 6810000000000001%,
        rgba(23, 221, 208, 0.12) 0%,
        var(--BG_1, rgb(12, 21, 29)) /* {"name":"BG 1"} */ 100%
    );
    overflow: hidden;
    flex: 1 0 0px;
    position: relative;
    align-content: center;
    // flex-wrap: nowrap;
    gap: 10;
}

.frame {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.1;
    background-image: url('./../../../../../../public/asset/images/bg1.webp');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    flex-shrink: 0;
    width: 100%;
    flex: 1 0 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0px 100px;
    gap: 218;
}
.wrapper {
    flex-shrink: 0;
    width: 100%;
    flex: 1 0 0px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 24;
}
.humanplatform {
    width: 100%;
    height: auto;
    font-size: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    line-height: 1.2;
    text-align: center;
    color: #ebfdff;
}
.humanplatform__digital {
    text-align: center;
    text-shadow: 0px 32px 12px rgba(0, 0, 0, 0.24);
    height: auto;
    font-size: 92px;
    color: #ebfdff;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 28px;
}

.humanplatform__hure {
    width: 33%;
    text-align: center;
    opacity: 0.5;
    height: auto;
    color: #ebfdff;
    margin-top: 28px;
}

.scrollmore {
    flex-shrink: 0;
    width: auto; /* 64px */
    height: auto; /* 18px */
    white-space: pre;
    z-index: 1;
    line-height: 1.2;
    position: absolute;
    margin: 928px 675px 24px 675px;
    color: #ebfdff;
    font-weight: 700;
}
.image {
    flex-shrink: 0;
    width: 551px;
    height: 533px;
    overflow: visible;
    background-image: url('./../../../../../../public/asset/images/human1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    // transform: perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(0px);
    margin: 460px 300px 0 570px;
}
.image2 {
    flex-shrink: 0;
    width: 383px;
    height: 484px;
    overflow: visible;
    background-image: url('./../../../../../../public/asset/images/human2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin: 480px 690px 30px 375px;
}

.texthighlight {
    color: $text-highlight;
}
@media (max-width: 768px) {
    .section {
        height: 860px;
    }
    .container {
        padding: 0px 10px 0px 10px;
    }
    .humanplatform {
        font-size: 28px;
    }
    .humanplatform__digital {
        font-size: 40px;
    }
    .humanplatform__hure {
        width: 60%;
    }
    .image {
        width: 474px;
        height: 459px;
        margin: 400px 100px 0px 240px;
    }
    .image2 {
        width: 341px;
        height: 431px;
        margin: 400px 320px 30px 150px;
    }
    .scrollmore {
        margin: 780px 675px 24px 675px;
    }
}
@media (max-width: 400px) {
    .section {
        height: 800px;
    }
    .container {
        padding: 0px 10px 0px 10px;
    }
    .humanplatform {
        font-size: 18px;
    }
    .humanplatform__digital {
        font-size: 32px;
    }
    .humanplatform__hure {
        font-size: 12px;
        width: 90%;
    }
    .image {
        width: 80%;
        height: 425px;
        margin: 470px 5px 0px 120px;
    }
    .image2 {
        width: 77%;
        height: 431px;
        margin: 350px 90px 30px 4px;
    }
    .scrollmore {
        margin: 740px 675px 24px 675px;
    }
}
